.post-title {
  font-size: 1.3em;

  a {
    color: $light-blue;
    transition: all .5s ease-in-out;
    word-wrap: break-word;
  }

  a:hover {
    color: darken($light-blue, 20%)
  }
}

.post-author, .post-details-author {
  @include clearfix;
  color: $medium-gray;
  text-transform: lowercase;
}

.username {
  color: darken($medium-gray,20%);
}

.sign-out-link {
  color: lighten($medium-gray,10%);
  font-size: .7em;
}

.sign-out-link:last-child {
  padding-right: 0;
}

.total-votes {
  font-size: 1.2em;
  margin-bottom: .3em;
}
