.post-details-title{
  font-size: 1.4em;
  font-weight: 300;
}

.post-text {
  color: darken($medium-gray,35%);
  padding-left: 3.2em;
  width: 100%;

  @media screen and (min-width: 1000px) {
    width: 70%;
  }
}

.comment-reply {
  color: darken($medium-gray,35%);
  margin-top: 1em;
  width: 70%;
}

.comments {
  padding-left: 4em;
}

.comment-box, .comments-comment-box {
  width: 100%;

  @media screen and (min-width: 1000px) {
    width: 60%;
  }
}

.comments-comment-box {
  margin: 0 auto;
}

.new-post {
  margin: 0 auto;
  width: 70%;
}

.voting {
  float: left;
  margin: 0 auto;
  padding-right: 2em;
  text-align: center;
}

.post-container, .post-comment-container, .post-details-container {
  background-color: $light-gray;
  border-bottom: 4px solid darken($light-gray, 5%);
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: .8em;
  padding: 1em;
}

.post-details-container, .post-comment-container {
  padding: 1em;
  width: 100%;
}

.post-details-author {
  padding-left: 3.3em;
}

.all-post {
  text-align: center;
}

.edit-delete-content {
  a {
    color: $medium-gray;
  }

  a:hover {
    color: $blue;
  }
}

.edit-content {
  padding-left: 1em;
  padding-right: .3em;

}

.reply-link {
  padding-left: .5em;
}

.comments-comment {
  padding-left: 3em;
}

.number-comments {
  font-size: .95em;
  padding-left: .5em;
}
